
    {% extends 'layouts/base.html' %}
    {% csrf_token %}
    {% block content %}
    <section class="card card-body">
        <h1>About</h1>
        <p>Hola visitante</b></p>
        <br>
        <p>Había una vez una persona llamada Juan que se graduó de la universidad con una licenciatura en Ingeniería Civil. Sin embargo, después de graduarse, Juan decidió no ejercer su carrera y en su lugar, comenzó a trabajar en una empresa de ventas. Aunque disfrutaba de su trabajo, siempre se sintió insatisfecho con su elección de carrera.

            Después de unos años, Juan comenzó a sentirse desafiado por la tecnología emergente y decidió renovar sus conocimientos para volver a recuperar los conocimientos adquiridos en la universidad y renovarlos para los requerimientos de hoy en día. Comenzó a estudiar Python, Pandas y desarrollo web por su cuenta, y aunque fue difícil al principio, no se rindió.
            
            Durante dos años, Juan estudió diligentemente y esperó pacientemente por una oportunidad laboral. A menudo se sentía desanimado y frustrado, pero nunca perdió la esperanza. Finalmente, su perseverancia dio sus frutos cuando recibió una oferta de trabajo en una empresa de tecnología.
            
            Aunque el trabajo era difícil al principio, Juan se sintió emocionado y motivado por la oportunidad de aplicar sus conocimientos y habilidades en un campo que le apasionaba. Con el tiempo, se convirtió en un miembro valioso del equipo y se sintió más realizado que nunca.
            
            La historia de Juan es un recordatorio de que nunca es demasiado tarde para perseguir tus sueños y que la perseverancia y la paciencia pueden llevar a grandes recompensas. ¡Sigue adelante y nunca te rindas! 😊</p>

        <p><b>Nota:</b> no soy Juan... Esa historia la genero ua IA, pero su caso se baso en mi historia. Me gradue de sistemas más no ejercí directamente, a los 'tiernos' 35 años de edad, decido darme una oportunidad y reencontrarme con la carrera. Dos años despues estoy ejerciendo</p>


        <br>
        <p>Created by <b><a href="https://github.com/Sublian">Sublian</a></b> </p>
    </section>    
    {% endblock %}
