{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<section class="card card-body">
    <h1 class="display-1 text-center">{{title}} </h1>
    <img src="{%  static 'logo_python.png' %}" alt="imagen logo_python" width="70">
    <img src="{%  static 'django_logo.png' %}" alt="imagen logo_python" width="70">
    <img src="{%  static 'fazt_logo.png' %}" alt="imagen logo_python" width="70">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus sapiente impedit, beatae cupiditate quia pariatur laborum eum soluta! Reiciendis, molestiae. Accusantium eveniet est culpa, perspiciatis iustino molestias? Architecinto, accusantium eaque!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur iste reiciendis neque odio numquam quidem deleniti eum alias labore omnis saepe sit ex repudiandae cum, nam fuga beatae totam volup</p>
    <div class="text-center">
        <a class="btn btn-primary" href="/signin/">Signin</a>
        <a class="btn btn-secondary" href="/signup/">SignUp</a>
    </div>
</section>
{% endblock %}